.container{
	width:99%;
}
.hero-unit{
	height:100px;
	padding:20px;
}
.hero-unit h1{
	font-size:28pt;
}
.filters{
	width:15%;
	height:100%;
	padding:10px;
}
.filter{
	margin-bottom:30px;
}
.filter p{
	font-weight:bold;
	text-decoration:underline;
	margin-bottom:5px;
}
.filter label{
	
}
.posts{
	width:81%;
}
.box{
	margin:5px;
	padding:10px;
	height:450px;
	background:#ffffff;
	overflow:hidden;
	position: relative;
}
.content div{
	margin-bottom:10px;
}
.title{
	
}
.detail{
	height:325px;
	overflow:auto;
}
.footer{
	width:100%;
	background-color:#FFFFFF;
	position: absolute;
	bottom:5px;
	color:#A2A2A2;
}
.footer span{
	
}
.black_link{
	color:#000000;
}
h2{
	font-size:13pt;
	line-height:13pt;
}
.image{
	text-align:center;
}
